<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All staff</title>
</head>
<body>
<form action="/api/staff/all">
    <label for="position">Position:
        <input id="position" name="position" type="text" th:value="${staffFilterDto.position}">
    </label>

    <label for="department">Department:
        <input id="department" name="department" type="text" th:value="${staffFilterDto.department}">
    </label>
    <label for="page">Page:
        <input id="page" name="page" type="number" th:value="${staff.page}">
    </label>
    <label for="size">Size:
        <input id="size" name="size" type="number" th:value="${staff.size}">
    </label>
    <input type="submit" value="Filter"/>
</form>

<div style="display: flex" id="staff">
    <div th:each="oneStaff: ${staff.content}" style="width: 150px; margin: 5px">
        <a style="text-decoration: none" th:href="${'/api/staff/' + oneStaff.id}">
            <img width="150" height="150" th:src="${'/api/staff/image/' + oneStaff.id}">
            <p th:text="${oneStaff.name} + ' ' + ${oneStaff.surname}"></p>
            <p th:text="${oneStaff.position}"></p>
            <p th:text="${oneStaff.department}"></p>
        </a>
    </div>
</div>
</body>
</html>