<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Log-in</title>
</head>
<body>
<form th:action="@{/login}" method="post" th:object="${authRequest}">
    <div><label for="login"> Username:
        <input type="text" id="login" name="login" required th:value="*{login}"/>
    </label></div>
    <div><label for="password"> Password:
        <input id="password" type="password" name="password" required th:value="*{password}"/>
    </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<div th:if="${errors}">
    <p>При заполнении полей обнаружены следующие ошибки (каждая строка с ошибкой для своего поля):</p>
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Errors</p>
</div>
</body>
</html>