<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Log-in</title>
</head>
<body>

<div th:if="${param.error}">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/api/auth/login}" method="post" th:object="${authRequest}">
    <div><label for="login"> User Name :
        <input type="text" id="login" name="login" th:value="*{login}"/>
    </label></div>
    <div><label for="password"> Password:
        <input id="password" type="password" name="password" th:value="*{password}"/>
    </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Errors</p>
</div>
</body>
</html>