<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical card</title>
</head>
<body>
<div th:object="${user}">
    <p>Your medical card: </p>
    <div th:each="record: *{records}">
        <p th:text="'Record № ' + ${record.id}"></p>
        <p th:text="${record.staff_name} + ' ' + ${record.staff_surname}"></p>
        <p th:text="${record.staff_position}"></p>
        <p th:text="${record.staff_department}"></p>
        <p th:text="${record.service}"></p>
        <p th:text="${record.description}"></p>
        <p th:text="${record.visitDate}"></p>
        <p th:text="${record.price + ' &#8381'}"></p>
        <br>
    </div>
</div>
</body>
</html>