<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:object="${staff}">
    <img width="200" height="200" th:src="${'/api/staff/image/' + id}" alt="">
    <p th:text="*{'Email: ' + email}"></p>
    <p th:text="*{'Name: ' + name}"></p>
    <p th:text="*{'Surname: ' + surname}"></p>
    <p th:text="*{'Position: ' + position}"></p>
    <p th:text="*{'Department: ' + department}"></p>
    <p>Your upcoming records: </p>
    <div th:each="record: *{records}">
        <a th:href="${'/api/user/edit_record/' + record.id}" th:text="'Record № ' + ${record.id}"></a>
        <p th:text="${record.date}"></p>
        <p th:text="${record.user_name}"></p>
        <p th:text="${record.user_surname}"></p>
        <br>
    </div>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <form th:action="@{api/admin/delete_staff_page/{id}(id=${staff.id})}" method="post">
        <input type="submit" value="Delete page">
    </form>
</div>
<a href="/api/staff/edit_profile">Edit</a>
</body>
</html>