<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/api/staff/edit_profile}" method="post" th:object="${staffDto}">
    <label for="email">Email
        <input type="email" name="email" id="email" th:value="*{email}">
    </label>

    <label for="name">Name
        <input type="text" name="name" id="name" th:value="*{name}">
    </label>

    <label for="surname">Surname
        <input type="text" name="surname" id="surname" th:value="*{surname}">
    </label>

    <label for="position">Position
        <input type="text" name="position" id="position" th:value="*{position}">
    </label>

    <label for="department">Department
        <input type="text" name="department" id="department" th:value="*{department}">
    </label>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>