<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:object="${staff}">
    <p th:text="*{'Email: ' + email}"></p>
    <p th:text="*{'Name: ' + name}"></p>
    <p th:text="*{'Surname: ' + surname}"></p>
    <p th:text="*{'Position: ' + position}"></p>
    <p th:text="*{'Department: ' + department}"></p>
    <p>Your records: </p>
    <div th:each="record: *{records}">
        <p th:text="record.date"></p>
    </div>
</div>
<a href="/api/staff/edit_profile">Edit</a>
</body>
</html>