<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header.html}"></div>
<form th:action="@{/api/user/edit_profile}" method="post" th:object="${userInfoDto}">
    <label for="email">Email
    <input type="email" name="email" id="email" th:value="*{email}">
    </label>

    <label for="name">Name
        <input type="text" name="name" id="name" th:value="*{name}">
    </label>

    <label for="surname">Surname
        <input type="text" name="surname" id="surname" th:value="*{surname}">
    </label>

    <label for="birthDate">Birth date
        <input type="date" name="birthDate" id="birthDate" th:value="*{birthDate}">
    </label>

<!--    <label for="img">Edit image-->
<!--        <input  id="img" type="file" name="img">-->
<!--    </label>-->

    <input type="submit" value="Edit"/>
</form>
</body>
</html>